<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Searcher...</title>
        <link rel="stylesheet" href="basic.css">
    </head>
    <body>
        <form action="/results" method="post"> <table>
            <tr> <td><label>Search engine</label><br></td> </tr>
            <tr>
                <td>
                    <input type="text" name="request" id="request">
                </td>
                <td>
                    <input type="submit" value="Search!">
                </td>
            </tr>
        </table></form>
    </body>
</html>